/* ================================= 
  Photo Overlay Transition
==================================== */

.photo-overlay {
	opacity: 0;
transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* ================================= 
  Button Transitions
==================================== */

.button {
  opacity:0;
  transition: opacity .3s ease-out .2s, background ease-out.4s .3s, box-shadow .5s ease-out 0s;
/*
  transition-property: opacity, background, box-shadow;
  transition-duration: .5s;
  transition-delay: .2s, .3s, 0s;
*/
}

.button:hover {
  background: rgba(74, 137, 202, 1);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .7)
}

.photo-overlay:hover .button {
  opacity: 1;
}

.btn-icon {
  transition-property: opacity, left;
  transition-duration:.5s;
  transition-delay: .3s;
  transition-timing-function: ease-in-out, ease-out;
}

.button:hover .btn-icon {
  opacity: 1;
  left: 80%;
}